@import 'bulma/css/bulma.css';

html {
  overflow-y: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#fields {
  align-self: center;
}