@import 'bulma/css/bulma.css';

/* disable browser scrollbar on right */
::-webkit-scrollbar {
    display: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}

canvas {
  border-color: ghostwhite;
  border-radius: 1;
  border-style: solid;
  display: flex;
  cursor: crosshair;
}

.tool {
  margin: 2vh 0;
  text-align: center;
  justify-items: center;
  flex: 1 12.5%
}

#canvas-container {
  justify-items: center;
}

#tools-container {
  margin: 0 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
  user-select: none;
}

#color-select-primary, #color-select-secondary {
  width: 4rem;
  cursor: pointer;
}