@import 'bulma/css/bulma.css';

html {
  overflow-y: hidden;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

canvas {
  display: flex;
  cursor: crosshair;
}

.tool {
  margin: 2vh 2vw;
  text-align: center;
  justify-items: center;
  flex: 1;
}

.color-picker {
  width: 4rem;
  cursor: pointer;
}

.canvas-container {
  border-style: solid;
  align-content: center;
  justify-self: center;
  overflow: auto;
  max-width: 80vw;
  max-height: fit-content;
  flex: 1 80%;
}

.tools-container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-end;
  user-select: none;
}