@import './base.css';

#root {
  justify-content: space-around;
  align-items: center;
}

canvas {
  display: flex;
  cursor: crosshair;
}

.tool {
  margin: 2vh 2vw;
  text-align: center;
  justify-items: center;
  flex: 1;
}

.color-picker {
  width: 4rem;
  cursor: pointer;
}

.canvas-container {
  border-style: solid;
  align-content: center;
  justify-self: center;
  overflow: auto;
  max-width: 90vw;
  max-height: fit-content;
  flex: 1 80%;
}

.tools-container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-end;
}
